<div ng-show="showMobileMenu" class="ng-cloak ng-table-mobile-filters">
    <div ng-show="$column.title(this)" ng-repeat="$column in $columns">
        <label>{{$column.titleAlt(this) || $column.title(this)}}
            <div ng-repeat="(name, filter) in $column.filter(this)">
                <div ng-if="filter.indexOf('/') !==-1" ng-include="filter"></div>
                <div ng-if="filter.indexOf('/')===-1" ng-include="'themes/default/views/block/ng-table/filters/' + filter + '.html'"></div>
            </div>
        </label>
    </div>
</div>